
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Gauntlet</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />

  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FreeHTML5.co
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">
	<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'> -->
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="static/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="static/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="static/css/bootstrap.css">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="static/css/flexslider.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="static/css/style.css">

	<!-- Modernizr JS -->
	<script src="static/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>

	<div id="fh5co-page">
	<header id="fh5co-header" role="banner">
		<div class="container">
			<div class="row">
				<div class="header-inner">
					<h1><a href="/">Gauntlet Estate<span>.</span></a></h1>
					<nav role="navigation">
						<ul>
							<li><a href="/buy">Buy</a></li>
							<li class="active"><a href="/rent">Rent</a></li>
							<li><a href="/properties">Properties</a></li>
						    {% if session['logged_in'] == True %}
						    	 {% if session['seller'] == True %}
						    	 	<li class="cta"><a href="/search">My Bookmarks</a></li>
						    	 {% else %}
						    	 	<li class="cta"><a href="/myhomes">My Homes</a></li>
						    	 {% endif %}
						    	 <li class="cta"><a href="/settings">Profile</a></li>						      
						      <li class="cta"><a href="/logout">Logout</a></li>
						    {% else %}
						      <li class="cta"><a href="/signin">Log In</a></li>
						    {% endif %}
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>

	<div class="fh5co-page-title" style="background-image: url(images/slide_6.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 animate-box">
					<h1><span class="colored">Rent</span> Properties</h1>
				</div>
			</div>
		</div>
	</div>
	<div id="best-deal">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box" data-animate-effect="fadeIn">
					<h2>We are Offering the Best Real Estate Deals</h2>
					<p>Take a look! Here are some of our beautiful homes. </p>
				</div>
				<div class="col-md-4 item-block animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-property">
						<figure>
							<h4>{{first[0].home_type}}</h4>
							<a href="/contact/{{first[0].hid}}" class="tag">Interested? Click me.</a>
						</figure>
						<div class="fh5co-property-innter">
							<h3><a href="#">{{first[0].address}}</a></h3>
							<div class="price-status">
		                 	<span class="price">${{first[0].cost}} </span>
		               </div>
	            	</div>
	            	<p class="fh5co-property-specification">
	            		<span><strong>{{first[0].acres}}</strong> Acres</span>  <span><strong>3</strong> Beds</span>  <span><strong>3.5</strong> Baths</span>  <span><strong>2</strong> Garages</span>
	            	</p>
					</div>
				</div>

				<div class="col-md-4 item-block animate-box" data-animate-effect="fadeIn">

					<div class="fh5co-property">
						<figure>
							<h4>{{first[1].home_type}}</h4>
							<a href="/contact/{{first[1].hid}}" class="tag">Interested? Click me.</a>
						</figure>
						<div class="fh5co-property-innter">
							<h3><a href="#">{{first[1].address}}</a></h3>
							<div class="price-status">
		                 	<span class="price">${{first[1].cost}}</span>
		               </div>
	            	</div>
	            	<p class="fh5co-property-specification">
	            		<span><strong>{{first[1].acres}}</strong> Acres</span>  <span><strong>3</strong> Beds</span>  <span><strong>3.5</strong> Baths</span>  <span><strong>2</strong> Garages</span>
	            	</p>
					</div>
					
				</div>
				<div class="col-md-4 item-block animate-box" data-animate-effect="fadeIn">

					<div class="fh5co-property">
						<figure>
							<h4>{{first[2].home_type}}</h4>
							<a href="/contact/{{first[2].hid}}" class="tag">Interested? Click me.</a>
						</figure>
						<div class="fh5co-property-innter">
							<h3><a href="#">{{first[2].address}}</a></h3>
							<div class="price-status">
		                 	<span class="price">${{first[2].cost}}</span>
		               </div>
	            	</div>
	            	<p class="fh5co-property-specification">
	            		<span><strong>{{first[2].acres}}</strong> Acres</span>  <span><strong>3</strong> Beds</span>  <span><strong>3.5</strong> Baths</span>  <span><strong>2</strong> Garages</span>
	            	</p>
					</div>
				</div>

				<div class="col-md-4 item-block animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-property">
						<figure>
							<h4>{{first[3].home_type}}</h4>
							<a href="/contact/{{first[3].hid}}" class="tag">Interested? Click me.</a>
						</figure>
						<div class="fh5co-property-innter">
							<h3><a href="#">{{first[3].address}}</a></h3>
							<div class="price-status">
		                 	<span class="price">${{first[3].cost}}</span>
		               </div>
	            	</div>
	            	<p class="fh5co-property-specification">
	            		<span><strong>{{first[3].acres}}</strong> Acres</span>  <span><strong>3</strong> Beds</span>  <span><strong>3.5</strong> Baths</span>  <span><strong>2</strong> Garages</span>
	            	</p>
					</div>
				</div>
				
				<div class="col-md-4 item-block animate-box" data-animate-effect="fadeIn">

					<div class="fh5co-property">
						<figure>
							<h4>{{first[4].home_type}}</h4>
							<a href="/contact/{{first[4].hid}}" class="tag">Interested? Click me.</a>
						</figure>
						<div class="fh5co-property-innter">
							<h3><a href="#">{{first[4].address}}</a></h3>
							<div class="price-status">
		                 	<span class="price">${{first[4].cost}}</span>
		               </div>
		              
	            	</div>
	            	<p class="fh5co-property-specification">
	            		<span><strong>{{first[4].acres}}</strong> Acres</span>  <span><strong>3</strong> Beds</span>  <span><strong>3.5</strong> Baths</span>  <span><strong>2</strong> Garages</span>
	            	</p>
					</div>
					
				</div>
				<div class="col-md-4 item-block animate-box" data-animate-effect="fadeIn">

					<div class="fh5co-property">
						<figure>
							<h4>{{first[5].home_type}}</h4>
							<a href="/contact/{{first[5].hid}}" class="tag">Interested? Click me.</a>
						</figure>
						<div class="fh5co-property-innter">
							<h3><a href="#">{{first[5].address}}</a></h3>
							<div class="price-status">
		                 	<span class="price">${{first[5].cost}}</span>
		               </div>
	            	</div>
	            	<p class="fh5co-property-specification">
	            		<span><strong>{{first[5].acres}}</strong> Acres</span>  <span><strong>3</strong> Beds</span>  <span><strong>3.5</strong> Baths</span>  <span><strong>2</strong> Garages</span>
	            	</p>
					</div>
				</div>


				<div class="col-md-4 item-block animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-property">
						<figure>
							<h4>{{first[6].home_type}}</h4>
							<a href="/contact/{{first[6].hid}}" class="tag">Interested? Click me.</a>
						</figure>
						<div class="fh5co-property-innter">
							<h3><a href="#">{{first[6].address}}</a></h3>
							<div class="price-status">
		                 	<span class="price">${{first[6].cost}}</span>
		               </div>
		               
	            	</div>
	            	<p class="fh5co-property-specification">
	            		<span><strong>{{first[6].acres}}</strong> Acres</span>  <span><strong>3</strong> Beds</span>  <span><strong>3.5</strong> Baths</span>  <span><strong>2</strong> Garages</span>
	            	</p>
					</div>
				</div>

				<div class="col-md-4 item-block animate-box" data-animate-effect="fadeIn">

					<div class="fh5co-property">
						<figure>
							<h4>{{first[7].home_type}}</h4>
							<a href="/contact/{{first[7].hid}}" class="tag">Interested? Click me.</a>
						</figure>
						<div class="fh5co-property-innter">
							<h3><a href="#">{{first[7].address}}</a></h3>
							<div class="price-status">
		                 	<span class="price">${{first[7].cost}}</span>
		               </div>
		              
	            	</div>
	            	<p class="fh5co-property-specification">
	            		<span><strong>{{first[7].acres}}</strong> Acres</span>  <span><strong>3</strong> Beds</span>  <span><strong>3.5</strong> Baths</span>  <span><strong>2</strong> Garages</span>
	            	</p>
					</div>
					
				</div>
				<div class="col-md-4 item-block animate-box" data-animate-effect="fadeIn">

					<div class="fh5co-property">
						<figure>
							<h4>{{first[8].home_type}}</h4>
							<a href="/contact/{{first[8].hid}}" class="tag">Interested? Click me.</a>
						</figure>
						<div class="fh5co-property-innter">
							<h3><a href="#">{{first[8].address}}</a></h3>
							<div class="price-status">
		                 	<span class="price">${{first[8].cost}}</span>
		               </div>
	            	</div>
	            	<p class="fh5co-property-specification">
	            		<span><strong>{{first[8].acres}}</strong> Acres</span>  <span><strong>3</strong> Beds</span>  <span><strong>3.5</strong> Baths</span>  <span><strong>2</strong> Garages</span>
	            	</p>
					</div>
				</div>

				<div class="col-md-4 item-block animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-property">
						<figure>
							<h4>{{first[9].home_type}}</h4>
							<a href="/contact/{{first[9].hid}}" class="tag">Interested? Click me.</a>
						</figure>
						<div class="fh5co-property-innter">
							<h3><a href="#">{{first[9].address}}</a></h3>
							<div class="price-status">
		                 	<span class="price">${{first[9].cost}} </span>
		               </div>
		              
	            	</div>
	            	<p class="fh5co-property-specification">
	            		<span><strong>{{first[9].acres}}</strong> Acres</span>  <span><strong>3</strong> Beds</span>  <span><strong>3.5</strong> Baths</span>  <span><strong>2</strong> Garages</span>
	            	</p>
					</div>
				</div>
				
				<div class="col-md-4 item-block animate-box" data-animate-effect="fadeIn">

					<div class="fh5co-property">
						<figure>
							<h4>{{first[10].home_type}}</h4>
							<a href="/contact/{{first[10].hid}}" class="tag">Interested? Click me.</a>
						</figure>
						<div class="fh5co-property-innter">
							<h3><a href="#">{{first[10].address}}</a></h3>
							<div class="price-status">
		                 	<span class="price">${{first[10].cost}}</span>
		               </div>
	            	</div>
	            	<p class="fh5co-property-specification">
	            		<span><strong>{{first[10].acres}}</strong> Acres</span>  <span><strong>3</strong> Beds</span>  <span><strong>3.5</strong> Baths</span>  <span><strong>2</strong> Garages</span>
	            	</p>
					</div>
					
				</div>
				<div class="col-md-4 item-block animate-box" data-animate-effect="fadeIn">

					<div class="fh5co-property">
						<figure>
							<h4>{{first[11].home_type}}</h4>
							<a href="/contact/{{first[11].hid}}" class="tag">Interested? Click me.</a>
						</figure>
						<div class="fh5co-property-innter">
							<h3><a href="#">{{first[11].address}}</a></h3>
							<div class="price-status">
		                 	<span class="price">${{first[11].cost}}</span>
		               </div>
		               
	            	</div>
	            	<p class="fh5co-property-specification">
	            		<span><strong>{{first[11].acres}}</strong> Acres</span>  <span><strong>3</strong> Beds</span>  <span><strong>3.5</strong> Baths</span>  <span><strong>2</strong> Garages</span>
	            	</p>
					</div>
				</div>


			</div>
		</div>
	</div>


	</div>
	
	
	<!-- jQuery -->
	<script src="static/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="static/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="static/js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="static/js/jquery.flexslider-min.js"></script>

	<!-- MAIN JS -->
	<script src="static/js/main.js"></script>

	</body>
</html>

